<div class="mt-4">
   <form method="POST" action="/courses/store">
  <div class="mb-3">
    <label for="name" class="form-label">Tên khóa học :</label>
    <input type="text" class="form-control" id="name" aria-describedby="textHelp" name="name">
    
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Mô tả khóa học</label>
    <input type="text" class="form-control" id="description" aria-describedby="textHelp" name="description">
    
  </div>
   <div class="mb-3">
    <label for="videoID" class="form-label">ID video</label>
    <input type="text" class="form-control" id="videoID" aria-describedby="textHelp" name="videoID">
    
  </div>
   <div class="mb-3">
    <label for="level" class="form-label">Trình độ </label>
    <input type="text" class="form-control" id="level" aria-describedby="textHelp" name="level">
    
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">Hình ảnh</label>
    <input type="text" class="form-control" id="level" aria-describedby="textHelp" name="image">
    
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>